<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>LockD-Vault</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script src="https://kit.fontawesome.com/ced3b5fb1a.js" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/passwords.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!-- START OF MAIN -->
  <main>
    <h2>The Vault</h2>
    <article class=""> <!-- TODO DEFINE CLASS LATER -->
      <form method="GET" action="/new_password" >
        <button type="submit">Create New</button>
      </form>
      <!-- TODO AJAX request to filter page by category -->
      <form method="POST" action="/password">
        <input type="button" id="filter-btn">Filter By</button>
      </form>
    </article>


    <section id="password-container">
      <% for (let entry in passwords) { %>
        <article class="password-box">
          <section>
            <h3><i class="fa-solid fa-paper-plane"></i><%= passwords[entry].website %></h3>
            <h4><i class="fa-solid fa-user"></i><%= passwords[entry].username %></h4>
            <h4><i class="fa-solid fa-lock"></i><%= passwords[entry].password %><i class="fa-regular fa-clone"></i></h4>
            <% if (passwords[entry].category !== null) { %>
              <h4><i class="fa-solid fa-tag"></i><%= passwords[entry].category %></h4>
            <% } %>
          </section>
          <input type="button" value="Edit">
        </article>
      <% } %>
    </section>

  </main>
  <!-- END OF MAIN -->

  <!-- <h1> Password storage for the masses! 🥔</h1> -->
</body>

</html>
