<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <meta name="author" content="Lisa Meyer, Michael Law, Trishnarjun Kunamalla">

  <title>LockD-Vault</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Play:wght@400;700&family=Red+Hat+Mono:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ced3b5fb1a.js" crossorigin="anonymous"></script>

  <!-- JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/passwords.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!-- START OF MAIN -->
  <main>
    <!-- START OF HEADER -->
    <article class="header">
      <h2>The Vault</h2>
      <form method="GET" action="/new_password" >
        <button type="submit">Create New</button>
      </form>
      <form method="POST" action="/password">
        <p>Filter by Category</p>
        <select name="category" id="category" required>
          <option value="null"></option>
          <option value="social">Social</option>
          <option value="entertainment">Entertainment</option>
          <option value="productivity">Productivity</option>
          <option value="banking">Banking</option>
          <option value="health_wellness">Wellness</option>
          <option value="misc">Miscellaneous</option>
        </select>
      </form>
    </article>
    <!-- END OF HEADER -->
    
    <!-- START OF PASSWORD CONTAINER -->
    <section id="password-container">
      <% for (let entry in passwords) { %>
        <article class="password-box <%= passwords[entry].category %>">
          <section>
            <div>
              <i class="fa-solid fa-paper-plane"></i>
              <h3><%= passwords[entry].website %></h3>
            </div>
            <div>
              <i class="fa-solid fa-user"></i>
              <h4><%= passwords[entry].username %></h4>
            </div>
            <div>
              <i class="fa-solid fa-lock"></i>
              <h4><%= passwords[entry].password %></h4>
              <i class="fa-regular fa-clone"></i>
            </div>
            <div>
              <% if (passwords[entry].category !== null) { %>
                <i class="fa-solid fa-tag"></i>
                <h4><%= passwords[entry].category %></h4>
              <% } %>
            </div>
          </section>
          <input type="button" value="Edit" id="edit">
        </article>
      <% } %>
    </section>
    <!-- END OF PASSWORD CONTAINER -->
  </main>
  <!-- END OF MAIN -->
</body>

</html>
